[Desktop Entry]
Type=Application
Name=First NC Viewer
Comment=First NC Viewer Cross-Platform
Exec=FirstNCViewer %F
Icon=FirstNCViewer
Terminal=false
Categories=Utility;Development;
StartupWMClass=FirstNCViewer
MimeType=application/x-fncviewer-nc;application/x-fncviewer-anc;
